.trashBin {
    width: 100px;
    height: 100px;
    background-color: #ff4d4d;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    cursor: pointer;
}