.drawerView {
    position: fixed;
    top: 0;
    right: 0;
    width: 40%;
    height: 100%;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}